<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  	<div class="container">
      <div class="col">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/">My Marathon Buddy</a>
            </li>
        		<li class="nav-item">
          		<a class="nav-link" href="/try_a_text">Get A Compliment</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/what_is_this">What is This?</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/who_are_you">Who are You?</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/races">Races</a>
        		</li>
      	</ul>
        <br>
        {% block content %}
        {% endblock %}
      </div>
      <p>I am fundraising for <a href="https://www.allstarcode.org/">All Star Code</a> through November 7, 2018. They help men of color get into tech! As someone who is a member of a different under-represented in group in tech, I am excited to help others. Please consider donating <a href="https://racery.com/r/2018-hrc-quidditch-benefit-event/#racers-u@Hales">here.</a></p>
      <p>Feel Free to Contact me: <a href="https://www.twitter.com/hayleydenb"></a>@hayleydenb</p>
    </div>
  </body>
</body>
</html>