<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  	{% load static %}
    <div class="container">
      <div class="col">
        <h2 class="nav justify-content-center">My Marathon Buddy</h2>
        <h5 class="nav justify-content-center">A Positive Web App by Hayley Denbraver</h5>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
        		<li class="nav-item">
          		<a class="nav-link" href="/try_a_text">Get A Compliment</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/what_is_this">What is This?</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/who_are_you">Who are You?</a>
        		</li>
        		<li class="nav-item">
          		<a class="nav-link" href="/races">Races</a>
        		</li>
      	</ul>
        <br>
        {% block content %}
        {% endblock %}
      </div>
      <br>
      <br>
      <p>Feel Free to Contact Me: <a href="https://www.twitter.com/hayleydenb">@hayleydenb</a></p>
      <p><a href="https://www.twilio.com"><img src="/static/powered_by_twilio.png"></a></p>
    </div>
  </body>
</body>
</html>