{% extends 'coaching/frame.html' %}
	{% block content %}
	<h3>Start Here!</h3>
	<p>Fill out this form and hit sumbit to get a bit of positivity sent to your phone.</p>
	<p>Once you have done this, you now have my magic twilio number.</p>
	<p>You can text this number if you ever need a pick me up during a run or race. It will respond with a randomized encouragement.</p>
	<p>Learn more <a href="/what_is_this">here</a></p>
	<p>PS. I won't store your phone number in my database. That info will be available through my twilio dashboard, but their site is more secure and I promise not to call anyone or share the numbers.</p>
	<form action="/send_text">
		<p>Phone Number: <input type="text", name="phone_number", value="15551234567" class="form-control"></p>
		<p>Name or nickname: <input type="text" name="nickname" class="form-control"></p>
		<p>How did you come across this site?: <input type="textarea" name="how" class="form-control"></p>
		<input type="submit", name="Submit" class="btn btn-secondary btn-lg">
	</form>
	{% endblock %}