{% extends 'coaching/frame.html' %}
	{% block content %}
	<h3>What are You Doing Here?</h3>
	<p>This is a work in progress.</p>
	<br>
	<p>Currently you can enter your mobile number and recieve a compliment.</p>
	<br>
	<p>Currently I can text my twilio number and get a series of encouragements.</p>
	<br>
	<p>The goal is for my friends and family to be able to submit words of encouragement through a form, and then I will receive them as series of text messages at a standard interval throughout my distances races.</p>
	<br>
	<p>I mostly just want to learn a few new tools and have fun coding.</p>
	{% endblock %}