{% extends 'coaching/frame.html' %}
	{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4" text-align="center"><h3>Hayley Denbraver</h3></div>
		<div class="col-sm-4"></div>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<img src="/static/hbheadshot2.jpg" width="200" height="auto"display="block" margin-left="auto" margin-right="auto">
		</div>
		<div class="col-sm-6">
			<p>I am a software developer, conference speaker, community organizer, and writer.</p> 
			<p>I am currently looking for a job in Developer Relations.</p>
			<p><a href="https://drive.google.com/file/d/1Ssx6594ec5JVTYErbcfKzlnhkseR_4Ai/view?usp=sharing">Downloadable Resume</a></p>
			<p><a href="https://www.codeandtea.com/samples">My Writing and Speaking Samples</a></p>
			<p><a href="https://www.codeandtea.com/blog">My Blog</a></p>
			<p><a href="https://www.codeandtea.com/speaking">My Speaking Schedule</a></p>
		</div>
	</div>
</div>
	{% endblock %}