{% extends 'coaching/frame.html' %}
	{% block content %}
	<h3>Hayley Denbraver</h3>

	<p>I am a software developer, conference speaker, community organizer, and writer.</p> 
	<p>I am currently looking for a job in Developer Relations.</p>
	<p>You can download my resume <a href="https://drive.google.com/file/d/10PxXhEuUhbFf9kGw90fKUOoHkyy61lr5/view?usp=sharing">here.</a></p>
	<p><a href="https://www.codeandtea.com/samples">My Writing and Speaking Samples</a></p>
	<p><a href="https://www.codeandtea.com/blog">My Blog</a></p>
	<p><a href="https://www.codeandtea.com/speaking">My Speaking Schedule</a></p>
	{% endblock %}